/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
origami-dnn.iml
.idea/
.cpcache/
networks/
networks.zip
cat.jpg
mobilenet-1.0.0.zip/
mobilenet.zip
search.sh
upload-networks.sh
.classpath
.project
.settings/